<!doctype html>
<html class="no-js" lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#213236">


    <link rel="canonical" href="https://venture-theme-outdoors.myshopify.com/">
    <title>
        NYKAA
    </title>
    <link href="//cdn.shopify.com/s/files/1/0941/5264/t/9/assets/theme.scss.css?v=7034506377477709518" rel="stylesheet"
          type="text/css" media="all"/>

    <script>
    window.theme = window.theme || {};

    theme.strings = {
      slideNumber: "Slide [slide_number], current"
    };


    </script>

    <style>
.offerstrip {
  background-color: black;
  text-align: center;
  padding: 0.41em;
}

.shopnow {
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.41em;
}

.sign {
padding-left: 1.71em;
font-size: 16px;
}

.search {
padding-right: 1.31em;
font-size: 16px;
}
h5.navbar{
font-size: 16px
}

    </style>

    <script src="//cdn.shopify.com/s/files/1/0941/5264/t/9/assets/lazysizes.min.js?v=5604528468397978469"
            async="async"></script>


    <script src="//cdn.shopify.com/s/files/1/0941/5264/t/9/assets/vendor.js?v=5935291977972636546"
            defer="defer"></script>


    <script src="//cdn.shopify.com/s/files/1/0941/5264/t/9/assets/theme.js?v=17732858289760734266"
            defer="defer"></script>

</head>

<body class="template-index">
{% load static %}
<div class="offertop">
    <div class="offerstrip">
        <h6 style="color:white;">Shop All Yours Fashion Favourites! We are delivering in Green,Orange & Red Zone,
            Delivery to Contentment
            Zone.</h6>
    </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <h5 class="navbar">NYKAA <br> FASHION</h5>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">WHAT'S NEW<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">BRANDS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">WESTERNS WEAR <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">INDIAN WEARS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">BAGS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">SHOES <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">JEWELLERY <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">LINGERIE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">ACCESSORIES <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">CHILD <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">LUXE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mx-2">
                <a class="nav-link" href="#">SALE <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg>
        <div class="search mx-1">
            <p>Search</p>
        </div>


        <div class="sign mx-1">
            <p>Sign In</p>
        </div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>

        <div class="mx-4">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
                <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
            </svg>
        </div>
    </div>
</nav>

<div class="page-container page-element is-moved-by-drawer">
    <main class="main-content" id="MainContent" role="main">
        <div id="shopify-section-slideshow" class="shopify-section">
            <div class="hero-wrapper hero-wrapper--small"
                 role="region"
                 aria-label="slideshow"
                 aria-describedby="slideshow-info">
                <div class="hero hero--small"
                     id="Slideshow-slideshow"
                     data-section-id="slideshow"
                     data-section-type="slideshow"
                     data-autoplay="false"
                     data-adapt-height="false"
                     data-speed="5000"
                >
                    <div class="hero__slide hero__slide--placeholder-0">
                        <div class="hero__image-content">
                            <noscript>
                                <div class="hero__image hero__image--placeholder-0"
                                     style="background-image: url('//cdn.shopify.com/s/files/1/0941/5264/files/hero_slide_1_1_2048x.jpg?v=1476888626');"></div>
                            </noscript>

                            <img class="hero__image hero__image--placeholder-0 lazyload "

                                 src="https://i.pinimg.com/originals/81/2b/74/812b745680e9c4cb88830e54f31629a2.png"

                                 data-src="https://i.pinimg.com/originals/81/2b/74/812b745680e9c4cb88830e54f31629a2.png"
                                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                                 data-aspectratio="1.8327605956471935"
                                 data-sizes="auto"
                                 data-parent-fit="cover"
                                 alt=""
                                 style="object-position: center top"></div>
                    </div>
                    <div class="hero__slide hero__slide--placeholder-1">

                    </div>
                </div>
                <div class="hero-content">
                    <div class="page-width ">

                        <div class="hero-content__controls d-flex justify-content-center">
                            <a data-slide-id="1"
                               href="/collections/camp"
                               class="shopnow hero-content__controls-item hero-content__controls-item--text ">
                                <b>ShopNow</b> <span aria-hidden="true">

                                <svg width="1em" height="1em" viewBox="0 0 15 15"
                                     class="bi bi-chevron-right" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd"
                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>

                                      </svg>

                            </span>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN content_for_index -->
        <div id="shopify-section-featured-collections" class="shopify-section index-section">
            <div class="page-width" data-section-id="featured-collections" data-section-type="collections-list">


                <div class="grid grid--no-gutters" id="collection-list-grid" data-number-rows="1">
                </div>
            </div>
        </div>


        <div id="shopify-section-1550258277444" class="shopify-section index-section">
            <div class="page-width">
                <div class="my-4" style="padding-top:3.431085%;">
                    <H3>In The Spotlight</H3>

                </div>

                <div class="section-block">


                    <div class="grid grid--no-gutters grid--uniform collection">

                        <div class="grid__item small--one-half medium-up--one-fifth collection__card--first ">
                            <!-- /snippets/product-card.liquid -->


                            <a href="/collections/sleeping-bags/products/marmot-nanowave-55" class="product-card">


                                <div class="product-card__image-container">
                                    <div class="product-card__image-wrapper">
                                        <div class="product-card__image js" style="max-width: 250.12087912087912px;"
                                             data-image-id="3108700485" data-image-with-placeholder-wrapper>
                                            <div style="padding-top:133.431085%;">

                                                <img class="lazyload"
                                                     data-src="//cdn.shopify.com/s/files/1/0941/5264/products/trestles_30_{width}x.jpeg?v=1438192769"

                                                     data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                     data-aspectratio="0.7494505494505495"
                                                     data-sizes="auto"
                                                     data-parent-fit="contain"
                                                     data-image
                                                     alt="NanoWave 55">
                                            </div>
                                            <div class="placeholder-background placeholder-background--animation"
                                                 data-image-placeholder></div>
                                        </div>
                                        <noscript>
                                            <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Marmot_Nanowave_55_480x480.jpeg?v=1438192778"
                                                 alt="NanoWave 55" class="product-card__image">
                                        </noscript>
                                    </div>
                                </div>
                                <div class="product-card__info">


                                    <div class="product-card__name">NanoWave 55</div>


                                    <div class="product-card__price">


                                        <span class="visually-hidden">Regular price</span>
                                        $69


                                    </div>

                                </div>


                                <div class="product-card__overlay">

                                    <span class="btn product-card__overlay-btn ">View</span>
                                </div>
                            </a>

                        </div>

                        <div class="grid__item small--one-half medium-up--one-fifth collection__card--first ">
                            <!-- /snippets/product-card.liquid -->


                            <a href="/collections/sleeping-bags/products/marmot-nanowave-55" class="product-card">


                                <div class="product-card__image-container">
                                    <div class="product-card__image-wrapper">
                                        <div class="product-card__image js" style="max-width: 250.12087912087912px;"
                                             data-image-id="3108700485" data-image-with-placeholder-wrapper>
                                            <div style="padding-top:133.431085%;">

                                                <img class="lazyload"
                                                    data-src="//cdn.shopify.com/s/files/1/0941/5264/products/trestles_15_{width}x.jpeg?v=1438192771"
                                                     data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                     data-aspectratio="0.7494505494505495"
                                                     data-sizes="auto"
                                                     data-parent-fit="contain"
                                                     data-image
                                                     alt="NanoWave 55">
                                            </div>
                                            <div class="placeholder-background placeholder-background--animation"
                                                 data-image-placeholder></div>
                                        </div>
                                        <noscript>
                                            <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Marmot_Nanowave_55_480x480.jpeg?v=1438192778"
                                                 alt="NanoWave 55" class="product-card__image">
                                        </noscript>
                                    </div>
                                </div>
                                <div class="product-card__info">


                                    <div class="product-card__name">NanoWave 55</div>


                                    <div class="product-card__price">


                                        <span class="visually-hidden">Regular price</span>
                                        $69


                                    </div>

                                </div>


                                <div class="product-card__overlay">

                                    <span class="btn product-card__overlay-btn ">View</span>
                                </div>
                            </a>

                        </div>
                        <div class="grid__item small--one-half medium-up--one-fifth collection__card--first ">
                            <!-- /snippets/product-card.liquid -->


                            <a href="/collections/sleeping-bags/products/marmot-nanowave-55" class="product-card">


                                <div class="product-card__image-container">
                                    <div class="product-card__image-wrapper">
                                        <div class="product-card__image js" style="max-width: 250.12087912087912px;"
                                             data-image-id="3108700485" data-image-with-placeholder-wrapper>
                                            <div style="padding-top:133.431085%;">

                                                <img class="lazyload"
                                                     data-src="//cdn.shopify.com/s/files/1/0941/5264/products/Marmot_Nanowave_55_{width}x.jpeg?v=1438192778"
                                                     data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                     data-aspectratio="0.7494505494505495"
                                                     data-sizes="auto"
                                                     data-parent-fit="contain"
                                                     data-image
                                                     alt="NanoWave 55">
                                            </div>
                                            <div class="placeholder-background placeholder-background--animation"
                                                 data-image-placeholder></div>
                                        </div>
                                        <noscript>
                                            <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Marmot_Nanowave_55_480x480.jpeg?v=1438192778"
                                                 alt="NanoWave 55" class="product-card__image">
                                        </noscript>
                                    </div>
                                </div>
                                <div class="product-card__info">


                                    <div class="product-card__name">NanoWave 55</div>


                                    <div class="product-card__price">


                                        <span class="visually-hidden">Regular price</span>
                                        $69


                                    </div>

                                </div>


                                <div class="product-card__overlay">

                                    <span class="btn product-card__overlay-btn ">View</span>
                                </div>
                            </a>

                        </div>
                        <div class="grid__item small--one-half medium-up--one-fifth ">
                            <!-- /snippets/product-card.liquid -->


                            <a href="/collections/sleeping-bags/products/marmot-trestles-15" class="product-card">


                                <div class="product-card__image-container">
                                    <div class="product-card__image-wrapper">
                                        <div class="product-card__image js" style="max-width: 176.25px;"
                                             data-image-id="3108699269" data-image-with-placeholder-wrapper>
                                            <div style="padding-top:133.3333333%;">

                                                <img class="lazyload"
                                                     data-src="//cdn.shopify.com/s/files/1/0941/5264/products/trestles_15_{width}x.jpeg?v=1438192771"
                                                     data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                     data-aspectratio="0.75"
                                                     data-sizes="auto"
                                                     data-parent-fit="contain"
                                                     data-image
                                                     alt="Trestles 15">
                                            </div>
                                            <div class="placeholder-background placeholder-background--animation"
                                                 data-image-placeholder></div>
                                        </div>
                                        <noscript>
                                            <img src="//cdn.shopify.com/s/files/1/0941/5264/products/trestles_15_480x480.jpeg?v=1438192771"
                                                 alt="Trestles 15" class="product-card__image">
                                        </noscript>
                                    </div>
                                </div>
                                <div class="product-card__info">


                                    <div class="product-card__name">Trestles 15</div>


                                    <div class="product-card__price">


                                        From $109


                                    </div>

                                </div>


                                <div class="product-card__overlay">

                                    <span class="btn product-card__overlay-btn ">View</span>
                                </div>
                            </a>

                        </div>

                        <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                            <!-- /snippets/product-card.liquid -->


                            <a href="/collections/sleeping-bags/products/marmot-trestles-30" class="product-card">


                                <div class="product-card__image-container">
                                    <div class="product-card__image-wrapper">
                                        <div class="product-card__image js" style="max-width: 176.25px;"
                                             data-image-id="3108698437" data-image-with-placeholder-wrapper>
                                            <div style="padding-top:133.3333333%;">

                                                <img class="lazyload"
                                                     data-src="//cdn.shopify.com/s/files/1/0941/5264/products/trestles_30_{width}x.jpeg?v=1438192769"
                                                     data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                     data-aspectratio="0.75"
                                                     data-sizes="auto"
                                                     data-parent-fit="contain"
                                                     data-image
                                                     alt="Trestles 30">
                                            </div>
                                            <div class="placeholder-background placeholder-background--animation"
                                                 data-image-placeholder></div>
                                        </div>
                                        <noscript>
                                            <img src="//cdn.shopify.com/s/files/1/0941/5264/products/trestles_30_480x480.jpeg?v=1438192769"
                                                 alt="Trestles 30" class="product-card__image">
                                        </noscript>
                                    </div>
                                </div>
                                <div class="product-card__info">


                                    <div class="product-card__name">Trestles 30</div>


                                    <div class="product-card__price">


                                        From $99


                                    </div>

                                </div>


                                <div class="product-card__overlay">

                                    <span class="btn product-card__overlay-btn ">View</span>
                                </div>
                            </a>

                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div id="shopify-section-1550258321126" class="shopify-section index-section">
            <div class="page-width">
                <div class="section-block">


                    <div class="grid__item small--one-half medium-up--one-fifth collection__card--first ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/kelty-grand-mesa-2" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108404165" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:100.0%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/495_{width}x.jpeg?v=1438191646"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Mesa 2">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/495_480x480.jpeg?v=1438191646"
                                             alt="Mesa 2" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Mesa 2</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $149.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/kelty-grand-mesa-3" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108498437" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:100.0%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/Kelty_Grand_Mesa_3_{width}x.jpeg?v=1438192051"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Mesa 3">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Kelty_Grand_Mesa_3_480x480.jpeg?v=1438192051"
                                             alt="Mesa 3" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Mesa 3</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $209.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth ">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/msr-hubba-hubba" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108472005" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:61.4%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/Hubba_Hubba_7_{width}x.jpeg?v=1438191949"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.6286644951140066"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Hubba Hubba">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Hubba_Hubba_7_480x480.jpeg?v=1438191949"
                                             alt="Hubba Hubba" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Hubba Hubba</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $329.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/big-agnes-big-house-6" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108405317" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:67.99999999999999%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/Big_Agnes_6_{width}x.jpeg?v=1438191649"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.4705882352941178"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Big House 6">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Big_Agnes_6_480x480.jpeg?v=1438191649"
                                             alt="Big House 6" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Big House 6</div>


                                <div class="product-card__availability">
                                    Sold Out
                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/kelty-bug-blocker-large" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108406661" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:100.0%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/Kelty_Bug_Blocker_{width}x.jpeg?v=1438191653"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.0"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Bug Blocker">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Kelty_Bug_Blocker_480x480.jpeg?v=1438191653"
                                             alt="Bug Blocker" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Bug Blocker</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $319.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/big-agnes-fly-creek-ul1" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108401285" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:74.2%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/flycreekUL1tent-zm_{width}x.jpeg?v=1438191638"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.3477088948787062"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Fly Creek UL1">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/flycreekUL1tent-zm_480x480.jpeg?v=1438191638"
                                             alt="Fly Creek UL1" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Fly Creek UL1</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $319.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/big-agnes-fly-creek-ul2" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108403205" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:73.6%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/flycreek2-zm_{width}x.jpeg?v=1438191643"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.358695652173913"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Fly Creek UL2">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/flycreek2-zm_480x480.jpeg?v=1438191643"
                                             alt="Fly Creek UL2" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Fly Creek UL2</div>


                                <div class="product-card__availability">
                                    Sold Out
                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/msr-hubba" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108456069" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:60.1%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/Hubba_7_{width}x.jpeg?v=1438191882"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.663893510815308"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Hubba">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/Hubba_7_480x480.jpeg?v=1438191882"
                                             alt="Hubba" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Hubba</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $279.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                    <div class="grid__item small--one-half medium-up--one-fifth small--hide">
                        <!-- /snippets/product-card.liquid -->


                        <a href="/collections/tents/products/msr-hubba-gear-shed" class="product-card">


                            <div class="product-card__image-container">
                                <div class="product-card__image-wrapper">
                                    <div class="product-card__image js" style="max-width: 235px;"
                                         data-image-id="3108532997" data-image-with-placeholder-wrapper>
                                        <div style="padding-top:65.21739130434783%;">

                                            <img class="lazyload"
                                                 data-src="//cdn.shopify.com/s/files/1/0941/5264/products/MSR_Gear_Shed_{width}x.jpeg?v=1438192139"
                                                 data-widths="[100, 140, 180, 250, 305, 440, 610, 720, 930, 1080]"
                                                 data-aspectratio="1.5333333333333334"
                                                 data-sizes="auto"
                                                 data-parent-fit="contain"
                                                 data-image
                                                 alt="Hubba Gear Shed">
                                        </div>
                                        <div class="placeholder-background placeholder-background--animation"
                                             data-image-placeholder></div>
                                    </div>
                                    <noscript>
                                        <img src="//cdn.shopify.com/s/files/1/0941/5264/products/MSR_Gear_Shed_480x480.jpeg?v=1438192139"
                                             alt="Hubba Gear Shed" class="product-card__image">
                                    </noscript>
                                </div>
                            </div>
                            <div class="product-card__info">


                                <div class="product-card__name">Hubba Gear Shed</div>


                                <div class="product-card__price">


                                    <span class="visually-hidden">Regular price</span>
                                    $169.95


                                </div>

                            </div>


                            <div class="product-card__overlay">

                                <span class="btn product-card__overlay-btn ">View</span>
                            </div>
                        </a>

                    </div>

                </div>

            </div>
        </div>

    </main>
</div><!-- END content_for_index -->

</main>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>
